# The Journey Boutique - Environment Variables

# Server Port
PORT=5000

# MongoDB Connection String
# If you don't have MongoDB installed locally, you can create a free cluster on MongoDB Atlas (https://www.mongodb.com/atlas/database)
# and paste the connection string here:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/petjourney?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/petjourney

# JWT Secret Key for authenticating sessions
JWT_SECRET=super_secret_journey_key_123
